html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

.wrapper {
}

header {
	background-color: white;
	position: fixed;
	display: flex;
	z-index: 100;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 20px 14px 0px rgba(158, 41, 103, 0.07);
	.headerLeft {
		padding-left: 30px;
		display: flex;
		align-items: center;
	}

	img {
		margin-right: 10px;
	}

	h3,
	p {
		text-transform: uppercase;
		margin: 0;
	}

	.headerRight {
		display: flex;
		img {
			cursor: pointer;
		}
		li {
			margin-right: 15px;
			display: flex;
			align-items: center;
		}
	}
}

.content {
	padding: 30px;
	color: white;
	h1 {
		margin-top: 60px;
		padding-bottom: 10px;
	}
}

.sneakers {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	place-items: flex-start;
}



.sneakers-top {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.search-block {
	background-color: white;
	margin-top: 30px;
	border-radius: 16px;
	border: 1px solid white;
	display: flex;
	input {
		border-radius: 16px;
		border: 0;
		outline: none;
		font-size: 13px;
		padding: 10px 0px;
	}
}

.drawer {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 3;
	right: 0;
	width: 385px;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
	padding-top: 60px;

	.items {
		flex: 1;
		overflow: hidden;
		overflow-y: scroll;
	}
	.cartItem {
		border: 1px solid black;
		border-radius: 25px;
		margin: 30px 20px;
		padding: 0 30px;
		display: flex;
		align-items: center;
		p {
			margin: 5px 13px 5px 15px;
			font-weight: 600;
		}
		.removeBtn {
			// position: absolute;
			// right: 0;
			margin-right: -25px;
			transform: rotateZ(133deg);
			cursor: pointer;
			&:hover {
				transition: all 0.3s ease 0s;
				transform: rotateZ(42deg);
			}
		}
	}
}

.totalBlock {
	z-index: 1;
	background-color: #ffffff;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.priceCount {
		display: flex;
		margin-bottom: 45px;
		padding: 0px 20px;
		span {
			font-weight: 600;
		}
		b {
			font-weight: 400;
		}
		div {
			margin: 0px 5px;
			width: 250px;
			opacity: 0.6;
			border-bottom: 1px dashed gray;
		}
	}
	.checkBtn {
		cursor: pointer;
		background-color: black;
		margin-bottom: 10vh;
		color: white;
		width: 80%;
		height: 50px;
		border-radius: 20px;
		font-size: 20px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: black;
			background-color: white;
		}
	}
}
