html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

header {
	background-color: white;
	position: fixed;
	display: flex;
	z-index: 100;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 20px 14px 0px rgba(158, 41, 103, 0.07);
	.headerLeft {
		padding-left: 30px;
		display: flex;
		align-items: center;
	}

	img {
		margin-right: 10px;
	}

	h3,
	p {
		text-transform: uppercase;
		margin: 0;
	}

	.headerRight {
		display: flex;
		img {
			cursor: pointer;
		}
		li {
			margin-right: 15px;
			display: flex;
			align-items: center;
		}
	}
}

.content {
	padding: 30px;
	color: white;
	h1 {
		width: 450px;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: 60px;
		padding-bottom: 10px;
	}
}

.sneakers {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	place-items: flex-start;
}



.sneakers-top {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.search-block {
	width: 150px;
	margin-top: 30px;
	border-radius: 4px;
	display: flex;
	border-bottom: 1px solid white;
	input {
		width: 90px;
		color: white;
		border: 0;
		background-color: transparent;
		outline: none;
		font-size: 13px;
	}
}





